.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}

.btn_collection {
  /* Use a gradient background */
  background: linear-gradient(to right, #4481eb, #04befe);
  /* Add some padding and a white text color */
  padding: 10px 20px;
  /* margin-left: 1rem; */
 
  color: white;
  /* Use a custom font */
  font-family: 'Roboto', sans-serif;
  /* Add some roundness to the corners */
  border-radius: 4px;
  /* Remove the default border */
  border: none;
  /* Add a box shadow */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a hover effect */
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn_collection:hover {
  background: linear-gradient(to right, #04befe, #4481eb);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}